*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to top left,rgb(20, 167, 204),rgb(40, 148, 40));
}
#result{
    transition: 0.5s;
}
.hide{
    opacity: 0;
}
.container{
    min-height: 100vh
}
.container > div:nth-child(2){
    border: 1px solid;
    border-radius: 10px;
    background: rgb(0, 0, 0);
}